# Ignore everything…
*

# ...execpt these exensions: ...
!*.java
!*.txt
!*.md
!*.json
!*.py
!*.gliffy
!*.PNG

# ...and these files: ...
!LICENCSE
!.gitignore

# ...and folders in general: ...
!*/

# ...but ignore these specific folders:
out/
venv/
